// RESET

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h4, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}
// END RESET


// Variables

//Typography
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Montserrat+Alternates:wght@200;300;400;500&family=Roboto+Mono:wght@300&family=Mukta:wght@200;300;400;500&display=swap');

$ff-header: ('Heebo', sans-serif);
$ff-text: ('Montserrat Alternates', sans-serif);
$ff-title: ('Mukta', sans-serif);
$ff-code: ('Roboto Mono', monospace);


$fw-code: 300;
$fw-header-light: 100;
$fw-header-normal: 200;
$fw-header-bold: 300;

$fw-text-light: 200;
$fw-text-nomral: 300;
$fw-text-semibold: 400;
$fw-text-bold: 500;

$fs-200: 0.925rem;
$fs-300: 1rem;
$fs-400: 1.2rem;
$fs-500: 1.5rem;
$fs-600: 2rem;
$fs-700: 2.5rem;
$fs-800: 3rem;
$fs-900: 3.5rem;

// Colors

/* Color Theme Swatches in HSLA */
$color-bg-dark: hsla(225, 12, 4, 1);
$color-bg: hsla(208, 31, 19, 1);
$color-text-dark: hsla(202, 30, 42, 1);
$color-text-normal: hsla(202, 37, 60, 1);
$color-text-light: hsla(196, 48, 70, 1);
$color-text-link: hsl(246, 100%, 80%);
$color-text-white: hsl(0, 0%, 91%);

// END VARIABLES




// Base
body {
    background-color: $color-bg;
}

code {
    font-family: $ff-code;
    font-weight: $fw-code;
    background-color: $color-bg;
    color: $color-text-dark;
}

.scroll {
    overflow: scroll;
}

@media screen and (min-width: 400px) {
    .scroll {
        overflow: auto;
    }
}

p,
a  {
    font-family: $ff-text;
}

.main-section {
    background-color: $color-bg-dark;
    margin: 1rem auto;
    border-radius: 10px;
    color: $color-text-normal;
}

@media screen and (min-width: 425px) {
    .main-section {
        width: 90%;
    }
}

@media screen and (min-width: 1050px) {
    .main-section {
        margin: 1rem auto;
    
    }
}

@media screen and (min-width: 1400px) {
    .main-section {
        padding: 2rem;
    }
}

h2 {
    text-align: center;
    font-family: $ff-header;
    font-weight: $fw-header-bold;
    font-size: $fs-600;
    padding-top: 2rem;
}

article {
        padding: 0 1rem 2rem;

        p {
            padding: 1rem 0;
        }
}

h3 {
    font-family: $ff-title;
    font-size: $fs-500;
    font-weight: $fw-header-bold;
    color: $color-text-dark;
    padding: 1rem 0;
}

p {
    font-weight: $fw-text-bold;
    font-size: $fs-300;
    line-height: 1.5;
}


a {
    color: $color-text-link;
    font-size: $fs-400;
    text-decoration: none;
    font-weight: $fw-text-bold;

}

.example {
    display: block;
    padding: 0.5rem 0;
    line-height: 2;
    margin: 1rem 0;
}




// END BASE




// Nav/Header

.header {
    text-align: center;
    font-weight: $fw-header-bold;
    font-family: $ff-header;
    font-size: $fs-600;
    padding: 2rem 0;
    color: $color-text-light;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 200px;
    border: 1px solid $color-bg-dark;
    overflow: scroll;

    a {
        border: 1px solid black;
        padding: 0.5rem;
        color: $color-text-normal;
        text-decoration: none;
    }
}


// Move Nav to left side of page
@media screen and (min-width: 1400px) {
    
    nav {
        position: fixed;
        float: left;
        height: 100vh;
        width: 20%;
        border-right: 2px solid rgba(0, 0, 0, 0.50);
        
        .header {
            font-size: $fs-700;
        }
    }
    

    .links {
        height: auto;
        border: none;
        overflow: auto;
        
        a{
            font-size: $fs-500;
            padding: 0.65rem;
            border: none;
            border-bottom: 1px solid black;
        }
        
    }

    main {
        position: relative;
        width: 80%;
        left: 20%;
        

    }
}

// END NAV/HEADER




// Introduction


// END INTRODUCTION

// Hello World


// Data Types

.datatypes-list {
    display: block;
    background-color: $color-bg;
    opacity: 0.8;
    font-size: $fs-200;
    padding: 0.5rem;
    margin: 0.5rem auto;

    li {
        display: block;
        color: $color-text-light;


        code {
            background-color: $color-bg-dark;
            color: $color-text-light;
        }

        span {
            font-weight: $fw-text-bold;
            color: $color-text-white;
            font-size: $fs-500;
            padding-right: 0.2rem;
        }
    }
}

// END HELLO WORLD

// text size media queries
@media screen and (min-width: 700px) {
    .header {
        font-size: $fs-800;
    }

    h2 {
        font-size: $fs-700;
    }

    h3 {
        font-size: $fs-600;
    }

    a {
        font-size: $fs-500;
    }

    p {
        font-size: $fs-400;
    }
}