@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Montserrat+Alternates:wght@200;300;400;500&family=Roboto+Mono:wght@300&family=Mukta:wght@200;300;400;500&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h4, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* Color Theme Swatches in HSLA */
body {
  background-color: hsl(208, 31%, 19%);
}

code {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  background-color: hsl(208, 31%, 19%);
  color: hsl(202, 30%, 42%);
}

.scroll {
  overflow: scroll;
}

@media screen and (min-width: 400px) {
  .scroll {
    overflow: auto;
  }
}
p,
a {
  font-family: "Montserrat Alternates", sans-serif;
}

.main-section {
  background-color: hsl(225, 12%, 4%);
  margin: 1rem auto;
  border-radius: 10px;
  color: hsl(202, 37%, 60%);
}

@media screen and (min-width: 425px) {
  .main-section {
    width: 90%;
  }
}
@media screen and (min-width: 1050px) {
  .main-section {
    margin: 1rem auto;
  }
}
@media screen and (min-width: 1400px) {
  .main-section {
    padding: 2rem;
  }
}
h2 {
  text-align: center;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  padding-top: 2rem;
}

article {
  padding: 0 1rem 2rem;
}
article p {
  padding: 1rem 0;
}

h3 {
  font-family: "Mukta", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: hsl(202, 30%, 42%);
  padding: 1rem 0;
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: hsl(246, 100%, 80%);
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
}

.example {
  display: block;
  padding: 0.5rem 0;
  line-height: 2;
  margin: 1rem 0;
}

.header {
  text-align: center;
  font-weight: 300;
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  padding: 2rem 0;
  color: hsl(196, 48%, 70%);
}

.links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 200px;
  border: 1px solid hsl(225, 12%, 4%);
  overflow: scroll;
}
.links a {
  border: 1px solid black;
  padding: 0.5rem;
  color: hsl(202, 37%, 60%);
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  nav {
    position: fixed;
    float: left;
    height: 100vh;
    width: 20%;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
  }
  nav .header {
    font-size: 2.5rem;
  }
  .links {
    height: auto;
    border: none;
    overflow: auto;
  }
  .links a {
    font-size: 1.5rem;
    padding: 0.65rem;
    border: none;
    border-bottom: 1px solid black;
  }
  main {
    position: relative;
    width: 80%;
    left: 20%;
  }
}
.datatypes-list {
  display: block;
  background-color: hsl(208, 31%, 19%);
  opacity: 0.8;
  font-size: 0.925rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
}
.datatypes-list li {
  display: block;
  color: hsl(196, 48%, 70%);
}
.datatypes-list li code {
  background-color: hsl(225, 12%, 4%);
  color: hsl(196, 48%, 70%);
}
.datatypes-list li span {
  font-weight: 500;
  color: hsl(0, 0%, 91%);
  font-size: 1.5rem;
  padding-right: 0.2rem;
}

@media screen and (min-width: 700px) {
  .header {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=styles.css.map */